<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MV Demo</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <h1>angular-mv</h1>

      <hr>

      <div ng-controller="simpleCtrl">

        <div class="row">

          <div class="col-sm-4">
            <div class="panel panel-default">
              <ul class="list-group" mv-container="lines1">
                {{ mvSelected }}
                <li
                  ng-repeat="line in lines1"
                  mv-draggable
                  class="list-group-item list-group-item-info"
                  ng-class="{'list-group-item-warning': mvDragged}">
                  {{ line.msg }}
                </li>
                <li class="list-group-item active" mv-placeholder>
                  This list is empty, drop an element.
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel panel-default">
              <ul class="list-group" mv-container="lines2">
                <li
                  ng-repeat="line in lines2"
                  mv-draggable
                  class="list-group-item list-group-item-success"
                  ng-class="{'list-group-item-warning': mvDragged}">
                  {{ line.msg }}
                </li>
                <li class="list-group-item active" mv-placeholder>
                  This list is empty, drop an element.
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel panel-default">
              <ul class="list-group" mv-container="lines3">
                <li
                  ng-repeat="line in lines3"
                  mv-draggable="line"
                  mv-list="lines3"
                  class="list-group-item"
                  ng-class="{'list-group-item-warning': mvDragged}">
                  {{ line.msg }}
                </li>
                <li class="list-group-item active" mv-placeholder>
                  This list is empty, drop an element.
                </li>
              </ul>
            </div>
          </div>

        </div>

        <button ng-click="logModel()" class="btn btn-sm btn-default">log model</button>

      </div>

    </div>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <!-- <script src="/bower_components/angular-touch/angular-touch.js"></script> -->
    <script src="/mv.js"></script>
    <script src="/demo/demo.js"></script>

  </body>
</html>
